<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy">
    <title>Pedagogy</title>
</head>
<body>
    <div class="test-center">
        <h1 style="font-family:'Lucida Sans Typewriter'; font-weight:bold; text-align: center ">Welcome to Pedagogy</h1>
    </div>
</body>
</html>